.item {
  & .title {
    cursor: pointer;
    padding: .25rem 0;
    font-size: .8rem;
    border-radius: $border-radius;

    &:not([href]) {
      font-size: .9rem;
      font-weight: bold;
      color: rgba(0, 0, 0, .65);

      &:hover {
        color: rgba(0, 0, 0, .85);
      }
    }

    &:hover {
      background-color: #0001;
    }
  }
}

