{
  "extends": "@ridi",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/forbid-foreign-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "template-curly-spacing" : "off",
    "indent" : "off",
    "react/static-property-placement": "off",
    "react/jsx-props-no-spreading": "off",
    "arrow-parens": "off",
    "react/no-deprecated": "off",
    "react/jsx-fragments": "off"
  }
}
