.tree_menu {
  @import "../MenuItem/index";
  flex-wrap: nowrap;

  & .item {
    & .title {
      & .collapse_indicator {
        margin-left: -1.5rem;
        margin-right: 0;
        margin-top: -.25rem;
        margin-bottom: -.25rem;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        min-width: 0;
        min-height: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        color: inherit;
        background: none;

        &:hover {
          background: rgba($white, .1);
        }

        & > .icon {
          transition: transform .35s ease;
          transform-origin: 45%;
        }

        &.expanded {
          & > .icon {
            transform: rotate(90deg);
          }
        }
      }
    }

    &.depth_0 {
      .title { padding-left: calc(1.25rem + .75rem * 0); }
    }

    &.depth_1 {
      .title { padding-left: calc(1.25rem + .75rem * 1); }
    }

    &.depth_2 {
      .title { padding-left: calc(1.25rem + .75rem * 2); }
    }

    &.depth_3 {
      .title { padding-left: calc(1.25rem + .75rem * 3); }
    }

    &.depth_4 {
      .title { padding-left: calc(1.25rem + .75rem * 4); }
    }

    &.depth_5 {
      .title { padding-left: calc(1.25rem + .75rem * 5); }
    }

    &.depth_6 {
      .title { padding-left: calc(1.25rem + .75rem * 6); }
    }

    &.depth_7 {
      .title { padding-left: calc(1.25rem + .75rem * 7); }
    }

    &.depth_8 {
      .title { padding-left: calc(1.25rem + .75rem * 8); }
    }

    &.depth_9 {
      .title { padding-left: calc(1.25rem + .75rem * 9); }
    }
  }
}
