.treeMenu {
}

.item {
  composes: item from "../MenuItem/styles.module.css";
  margin-left: .5rem;
  @nest .treeMenu > & {
    margin-left: 0;
  }
}

.title {
  composes: title from "../MenuItem/styles.module.css";

  &[href] {
    margin-left: 1rem;
  }
}
