.composite_menu {
  @import "../FilterableMenu/index";
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: $gray-100;

  & .navigation_bar {
    flex-shrink: 0;

    & .title {
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: bold;

      & > a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  & .content {
    flex: 1;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 1rem;

    &.show {
      display: flex;
    }

    & .button_container {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      padding: 1rem 0;
    }

    & .filterable_menu {
      flex: 1;

      & .tree_menu {
        margin: 0 -1rem;
        padding: 0 1rem 1rem;
      }
    }
  }
}
