.composite_menu {
  @import "../FilterableMenu/index";
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 1rem;
  background: $gray-100;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  & .navigation_bar {
    margin: 0 -1rem;
    margin-bottom: 1rem;

    & .title {
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: bold;

      & > a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  & .button_container {
    display: flex;
    justify-content: center;
  }

  & .filterable_menu {
    & .tree_menu {
      margin: 0 -1rem;
      padding: 0 1rem 1rem;
    }
  }
}
