.composite_menu {
  @import "../FilterableMenu/index";
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  color: $white;
  background-color: rgba(darken($dark, 10%), .95);

  & .navigation_bar {
    flex-shrink: 0;
    background-color: darken($primary, 10%);
    align-items: stretch;
    padding: 0;

    & > * {
      padding: 1rem;
      line-height: 1;
      border-radius: 0;

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }
    }

    & .title {
      display: block;
      font-size: 1.5rem;

      & .ridibooks {
        font-weight: bold;
        margin-right: .25rem;
      }
    }

    & .toggle_button {
      border: none;
      color: $white;
    }
  }

  & .content {
    min-height: 0;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 1rem;

    &.show {
      display: flex;
    }

    & .button_container {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      padding: .5rem 0;

      & .button {
        color: rgba($white, .65);
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }

    & .filterable_menu {
      min-height: 0;
      flex: 1 1 auto;

      & .menu_filter {
        & .input {
          color: inherit;
          background: rgba($black, .25);
          border-color: rgba($white, .25);
        }
      }

      & .alert {
        color: inherit;
        background: none;
        border: none;
        padding: .5rem;
        font-size: .9rem;
      }

      & .tree_menu {
        margin: 0 -1rem;
        padding-bottom: 1rem;

        & .item {
          & .title {
            color: rgba($white, .65);

            &:hover {
              color: $white;
              background-color: rgba($white, .05);
            }

            &:before {
              content: "";
              margin: .125rem;
            }
          }

          &.leaf {
            & .title {
              color: rgba($white, .5);

              &:hover {
                color: $white;
              }
            }
          }

          &.active {
            & .title {
              color: $white;
              background-color: rgba($primary, .5);
            }
          }
        }
      }

    }
  }
}
