html {
  & body {
    margin: 3.5rem 0 0 0;
  }

  & .menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    max-height: 100%;
    z-index: 10000;
  }

  @media (min-width: 1200px) {
    & body {
      margin: 0 0 0 17rem;
    }

    & .menu {
      left: 0;
      top: 0;
      bottom: 0;
      width: 17rem;
    }
  }
}
