.menu_filter {
  position: relative;

  & .clear_button {
    position: absolute;
    top: 50%;
    right: .5rem;
    margin-top: -.5rem;
    padding: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 0;
    font-size: .5rem;
  }
}
